.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: linear-gradient(
    to bottom,
    rgba(10, 14, 20, 0.95),
    rgba(10, 14, 20, 0.85)
  );
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  z-index: 1000;
}
body.modal-open .navbar {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
body.modal-open {
  overflow: hidden;
}
.navbar-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.nav-links {
  display: flex;
  gap: 28px;
}
.nav-links a {
  color: #b8c0cc;
  text-decoration: none;
  font-size: 1.05rem;
  position: relative;
}
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #4f8cff;
  transition: width 0.25s ease;
}
.nav-links a:hover {
  color: #ffffff;
}
.nav-links a:hover::after {
  width: 100%;
}
/* Responsive website deh*/
@media (max-width: 768px) {
  .navbar {
    padding: 12px 16px;
  }
  .nav-inner {
    flex-wrap: wrap;
    gap: 12px;
  }
  .nav-links {
    width: 100%;
    justify-content: center;
    gap: 15px;
    font-size: 0.9rem;
  }
  .logo {
  font-size: 1.8rem;
}
}
@media (max-width: 540px) {
  .nav-links {
    font-size: 0.25rem;
    gap: 7px;
    justify-content: right;
  }
  .logo {
  font-size: 1.4rem;
}
.nav-links a {
  font-size: 0.95rem;
}
}
@media (max-width: 440px) {
  .nav-links {
    font-size: 0.25rem;
    gap: 7px;
    justify-content: right;
  }
  .logo {
  font-size: 1.1rem;
  margin-right: 70px;
}
.nav-links a {
  font-size: 0.85rem;
}
}
@media (max-width: 400px) {
  .nav-links {
    font-size: 0.25rem;
    gap: 7px;
    justify-content: right;
  }
  .logo {
  font-size: 1.1rem;
  margin-right: 50px;
}
.nav-links a {
  font-size: 0.85rem;
}
}
@media (max-width: 380px) {
  .nav-links {
    font-size: 0.25rem;
    gap: 7px;
    justify-content: right;
  }
  .logo {
  font-size: 1.0rem;
  margin-right: 20px;
}
.nav-links a {
  font-size: 0.85rem;
}
}
@media (max-width: 340px) {
  .nav-links {
    font-size: 0.25rem;
    gap: 7px;
    justify-content: right;
  }
  .logo {
  font-size: 1.0rem;
  margin-right: 10px;
}
.nav-links a {
  font-size: 0.85rem;
}
}